@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&family=Rajdhani:wght@300;400;500;600;700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  /* Color Theme in Hex */
  --dark: #62626b;
  --dark_shade: #A66963;
  --main: #BFB850;
  --light_accent: #A1A6A4;
  --light_shade: #F2F2F2;
  /*font theme*/
  --default-font: 'Rajdhani', sans-serif;
}

/*dark:3B3B40*/
body {

  background-color: var(--light_shade);


}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main>h1 {
  align-self: center;
  padding: 1vw;
}

header.main {
  background-image: linear-gradient(10deg, #BFB850, #d4ce75);
  box-shadow: 1vh 1vh 1vh rgba(0, 0, 0, 0.082);
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  width: 100vw;
  height: 12vh;

  color: var(--light_shade);
  text-shadow: 0.1vh 0.1vh 1vh rgba(0, 0, 0, 0.349);
  font-family: var(--default-font);
  font-size: 2.5vh;
}

header li {
  list-style: none;
  display: inline-flex;
}

li a {
  font-family: var(--default-font);
  color: var(--light_shade);
  font-weight: bold;
  text-decoration: none;
  padding: 1vw;
}

li a:hover {
  background-color: var(--light_accent);
  border-radius: 1vw;
  transition: .125s .125s;
}

header {

  background-color: black;
  position: fixed;
  height: 20vh;

}

footer {

  background-color: black;
  height: 20vh;
  position: fixed;


}

.form {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  width: 40vw;
  height: 40vh;
  background-color: var(--dark);
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  box-shadow: 1vh 1vh 1vh rgba(0, 0, 0, 0.082);
  min-width: 300px;




}

input {
  width: 35%;
  height: 2vh;
  transition: width .125s;
  font-weight: lighter;
  font-size: 100%;
}

input:focus {
  width: 95%;
}

.enviarXresetar {
  width: 100%;
}

.container-buttons {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

input[type="submit"],
[type="reset"] {
  font-weight: bold;
  font-size: 120%;
  color: var(--light_shade);
  text-shadow: 1vh 1vh 1vh rgba(0, 0, 0, 0.192);
  border-radius: 1vw;
  display: block;
  padding: 1vw;
  text-align: center;
  box-sizing: content-box;
  margin: 1vw;
}

input[type="submit"] {
  background-color: #d4ce75;
}

input[type="submit"]:hover {
  background-color: #c2bc6c;
  box-shadow: 1vh 1vh 1vh #c2bc6c17;
  transition: width .125s .125s, box-shadow .125s .125s;
  cursor: pointer;
}

input[type="reset"] {
  background-color: #d47575;
}

input[type="reset"]:hover {
  background-color: #c26c6c;
  box-shadow: 1vh 1vh 1vh #c26c6c17;
  cursor: pointer;
}

.title1 {
  color: var(--light_shade);
  margin: 1vw;

}

.title2 {

  display: flex;
  margin: 0px;
  color: black;




}

.container {

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 40vh;
  width: 40vw;
  margin: 10px;
  padding: 5px;
  background-color: var(--dark_shade);
  border-radius: 13px;
  box-shadow: 1vh 1vh 1vh rgba(0, 0, 0, 0.082);
  min-width: 300px;



}

#peso,
#altura {

  display: flex;
  padding: 3px;
  margin: 10px;
  border-radius: 7px;
  flex-wrap: wrap;
  flex-direction: column;


}

.resultado1,
.resultado2 {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 10vw;
  height: 10vh;
  background-color: azure;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;

}

.enviarXresetar {

  display: flex;
  flex-direction: row;

}