@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&family=Rajdhani:wght@300;400;500;600;700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  /* Color Theme in Hex */
  --dark: #3B3B40;
  --dark_shade: #A66963;
  --main: #BFB850;
  --light_accent: #A1A6A4;
  --light_shade: #F2F2F2;
  /*font theme*/
  --default-font: 'Rajdhani', sans-serif;
}

body {

  background-color: var(--light_shade);


}

.main>h1 {
  align-self: center;
  padding: 1vw;
}

header.main {
  background-image: linear-gradient(10deg, #BFB850, #d4ce75);
  box-shadow: 1vh 1vh 1vh rgba(0, 0, 0, 0.082);
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  width: 100vw;
  height: 12vh;

  color: var(--light_shade);
  text-shadow: 0.1vh 0.1vh 1vh rgba(0, 0, 0, 0.349);
  font-family: var(--default-font);
  font-size: 2.5vh;
}

header li {
  list-style: none;
  display: inline-flex;
}

li a {
  font-family: var(--default-font);
  color: var(--light_shade);
  font-weight: bold;
  text-decoration: none;
  padding: 1vw;
}

li a:hover {
  background-color: var(--light_accent);
  border-radius: 1vw;
  transition: .125s .125s;
}

header {

  background-color: black;
  position: fixed;
  height: 20vh;

}

footer {

  background-color: black;
  height: 20vh;
  position: fixed;


}

.form {

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  width: 40vw;
  height: 40vh;
  background-color: black;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;


}

input {
  width: 35%;
  box-sizing: border-box;
  transition: width .125s;
}

input:focus {
  width: 95%;
}

.enviarXresetar {
  width: 100%;
}

input[type="submit"],
[type="reset"] {
  display: block;
  padding: 3vw;
}

.title1 {

  color: azure;

}

.title2 {

  display: flex;
  margin: 0px;
  color: black;




}

.container {

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 40vh;
  width: 40vw;
  margin: 10px;
  padding: 5px;
  background-color: rgba(41, 73, 179, 0.932);
  border-radius: 13px;



}

#peso,
#altura {

  display: flex;
  padding: 3px;
  margin: 10px;
  border-radius: 7px;
  flex-wrap: wrap;
  flex-direction: column;


}

.resultado1,
.resultado2 {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 10vw;
  height: 10vh;
  background-color: azure;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;

}

.enviarXresetar {

  display: flex;
  flex-direction: row;

}

#reset,
#submit {

  display: flex;
  margin: 10px;
  border-radius: 6px;
  height: 4vh;
  width: 6vw;
  align-items: center;
  justify-content: center;


}